
         <div class="box">
			 <div class="row">


							 <div class="col-lg-6 col-sm-12" id="bar-chart" >
								 <div class="panel panel-default">
									 <div class="panel-heading">Violências resgistradas por mês</div>
									 <div class="panel-body">
										 <canvas id="bar" class="chart chart-bar" data="vm.bar.data" labels="vm.bar.labels" series="vm.bar.series"></canvas>
									 </div>
								 </div>
							 </div>


			 <div class="col-lg-6 col-sm-12" id="pie-chart" >
				 <div class="panel panel-default">
					 <div class="panel-heading">Violências por tipo</div>
					 <div class="panel-body">
						 <canvas id="pie" class="chart chart-pie chart-xs" data="vm.pie.data" labels="vm.pie.labels"></canvas>
					 </div>
				 </div>
			 </div>
			 </div>

          </div>
