
         <div class="container">

           <div class="row" id="row_estatisticas" >

            <div class="col-md-6">
              <h4>Assalto</h4>
        			<div class="progress">
        			  <div class="progress-bar progress-bar-danger progress-bar-striped active" id="progressAssalto" role="progressbar" style="width: 50%;">
        			    <span id="progressAssaltoSpan">50%</span>
        			  </div>
        			</div>

        			<h4>Furto</h4>
        			<div class="progress">
        			  <div class="progress-bar progress-bar-warning progress-bar-striped active" id="progressFurto" role="progressbar" style="width: 20%;">
        			    <span id="progressFurtoSpan">20%</span>
        			  </div>
        			</div>

        			<h4>Violencia Sexual</h4>
        			<div class="progress">
        			  <div class="progress-bar progress-bar-success progress-bar-striped active" id="progressViolenciaSexual" role="progressbar" style="width: 5%;">
        			    <span id="progressViolenciaSexualSpan">5%</span>
        			  </div>
        			</div>

        			<h4>Homicídio</h4>
        			<div class="progress">
        			  <div class="progress-bar progress-bar-warning progress-bar-striped active" id="progressHomicidio" role="progressbar" style="width: 20%;">
        			    <span id="progressHomicidioSpan">20%</span>
        			  </div>
        			</div>

        			<h4>Vandalismo</h4>
        			<div class="progress">
        			  <div class="progress-bar progress-bar-success progress-bar-striped active" id="progressVandalismo" role="progressbar" style="width: 5%;">
        			    <span id="progressVandalismoSpan">5%</span>
        			  </div>
        			</div>

            </div>
          </div>
         </div>
