<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="ArcGIS JS v4, Calcite Maps and Bootstrap">

  <title> B.O Bot HackFest</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../static/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/scripts/bower_components/angular-bootstrap/ui-bootstrap-csp.css">


  <!-- CSS Próprio -->
  <link rel="stylesheet" href="../static/style/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>


<body ng-app="bobotApp" >
  <!-- NavBar -->
  <div ui-view="navbar" ng-cloak></div>

  <!-- Map  -->
<div class="container" id="containerMapa">
    <div ui-view="content" ng-cloak></div>
</div>

<script src="../static/scripts/bower_components/jquery/dist/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
<script src="../static/scripts/bower_components/bootstrap/dist/js//bootstrap.min.js" ></script>
<script src="../static/scripts/bower_components/angular/angular.js"></script>
<script src="../static/scripts/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../static/scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../static/scripts/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../static/scripts/bower_components/angular-resource/angular-resource.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaqrXmdzYSRboSejJQ0Id4Mz9JJbrOp44&libraries=places,visualization,geometry"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="../static/scripts/app.js"></script>
<script src="../static/scripts/filtrosController.js"></script>
<script src="../static/scripts/MapController.js"></script>
<script src="../static/scripts/navbar.controller.js"></script>
<script src="../static/scripts/google-maps.service.js"></script>
<script src="../static/scripts/violence.service.js"></script>

<script src="../static/scripts/app.state.js"></script>


</body>
</html>
